html,
body,
#container {
    width: 100%;
    height: 100%;
    display: block;
    line-height: unset;
}

#header,
#footer {
    height: 50px;
    width: 100%;
    z-index: 2;
}

#footer {
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background: #555 !important;
    color: #fff;
}

#footer a,
#footer a:hover {
    color: #fff;
    text-decoration: none;
}

#section {
    height: calc(100% - 50px);
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 0;
}

.black {
    background: rgba(1, 1, 1, 1) !important;
}

.fixed-top {
    height: 50px;
    width: 100%;
    position: relative;
}

.site-header {
    background: transparent;
    width: 100%;
    padding: 0px !important;
    min-height: 50px;
    transition: background 0.75s ease-in-out;
}

#home {
    background-image: linear-gradient(to right, #d8156a, #d60083, #c600a6, #9d00d1, #0000ff);
}

.section-content {
    height: 500px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.section-content * {
    transition: all 0.5s ease-in-out;
}

#products .col:last-child>:nth-child(2n-1) {
    transform: translateY(200%);
}

#products .col:last-child>:nth-child(2n) {
    transform: translateY(-200%);
}

#products.active .col:last-child>:nth-child(n),
#products.animate .col:last-child>:nth-child(n) {
    transform: translateY(0);
}

.site-header .container {
    min-height: 50px;
}

.site-header a {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    min-height: 50px;
    transition: 0.25s;
    text-decoration: none;
}

.site-header svg {
    display: inline-block;
    float: left;
}

.site-header .company-name {
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.site-header a:hover:not(:nth-child(1)) {
    background: rgba(0, 0, 0, 0.3);
}

.site-header a.active:not(:nth-child(1)) {
    transform: scale(1.2);
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid;
}

#header,
#section,
#footer {
    background: #e6e6e67a;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
}

.image-slider {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    top: 50px;
    padding: 10px;
}

.carousel-item,
#carouselExampleIndicators,
.carousel-content,
.carousel-inner {
    height: 75vh;
    text-align: center;
    line-height: 75vh;
    font-size: 30px;
    font-weight: 600;
}

#aboutUs .col,
#products .col,
#features .col,
#pricing .col,
#support .col,
#contactUs .col {
    width: 50%;
    height: 100%;
    padding: 10px 0;
    float: left;
    color: #fff;
}

#products .col {
    width: 100%;
}

#aboutUs.section-content {
    height: 300px;
    background-color: #60ada7;
}

/* #aboutUs * {
    color: #000;
} */

#products {
    background-color: #00BCD4;
}

#features {
    background: #1976D2;
}

#pricing {
    background: #4CAF50;
}

#support {
    background: #9C27B0;
}

.content-area.col p,
.content-area.col-row p {
    font-size: 20px;
    text-align: justify;
    align-items: center;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 75%;
    text-indent: 25px;
}

.col-row {
    width: 100%;
    height: 100%;
}

#features * {
    color: #fff;
}

#aboutUs .image-area {
    background-image: url(../images/ecomm.jpg);
    transform: translateX(-110%);
    background-size: 250px 250px;
    background-position: center;
}

#aboutUs.active .image-area,
#aboutUs.animate .image-area {
    transform: translateX(0);
}

#features>.content-area>div {
    width: 25%;
    margin: 0;
}

#features>.content-area>div div:nth-child(2) {
    height: 60%;
}

#features>.content-area div .image-area {
    height: 30%;
    background-size: contain;
    margin: 10px 0;
}

#features>.content-area>div * {
    line-height: initial;
    font-size: 18px;
}

#features>.content-area>div h3 {
    text-align: center;
}

.android .image-area {
    background-image: url(./../images/android.png);
}

.plugins .image-area {
    background-image: url(./../images/plugin.png);
}

.webpages .image-area {
    background-image: url(./../images/Webpage.png);
}

#support .support1 {
    background-image: url(./../images/support1.jpg)
}

#support .support2 {
    background-image: url(./../images/support2.jpg)
}

#support .support3 {
    background-image: url(./../images/support3.jpg)
}

#home .landing1 {
    background-image: url(./../images/landing1.png);
    background-size: contain;
}

#home .landing2 {
    background-image: url(./../images/landing2.png);
    background-size: contain;
}

#home .landing3 {
    background-image: url(./../images/landing3.png);
    background-size: contain;
}

.carousel-content {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.android,
.plugins,
.webpages {
    width: 48%;
    float: left;
    margin: 0 1%;
    height: 100%;
}

.android>div,
.plugins>div,
.webpages>div {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: block;
}

.image-area {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

form.needs-validation {
    width: 100%;
    height: 100%;
    padding: 25px;
}

button.form-submit {
    transform: translate(-50%, 20px);
    position: absolute;
    left: 50%;
}

#products .image-area {
    height: 30%;
    margin: 10px 0;
}

#products h3 {
    text-align: center;
}

#support p {
    padding: 10px;
    top: 10%;
    position: relative;
    text-indent: 25px;
    text-align: justify;
}

.section-content p {
    text-indent: 25px;
    text-align: justify;
}